In [29]:
import csv
import pandas as pd

In [16]:
#Czytanie plików CSV
with open('csv_file/addresses.txt') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} {row[1]} comes from {row[4]} and has post code {row[5]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are Name,  Surname, Street, City, Nb, PostCode
	John Doe comes from  NJ and has post code  08075.
	Jack McGinnis comes from  PA and has post code 09119.
	John "Da Man" Repici comes from  NJ and has post code 08075".
Processed 4 lines.

In [27]:
#Pisanie plików CSV
with open('csv_file/addresses.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

    employee_writer.writerow(['Name', 'Surname','Street','City','Nb','PostCode'])
    employee_writer.writerow(['John', 'Smith', 'Street', 'Tahoma','Th','0000000'])

with open('csv_file/addresses.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
        else:
            print(f'\t{row[0]} {row[1]} comes from {row[4]} and has post code {row[5]}.')
            line_count += 1
    print(f'Processed {line_count} lines.')

Column names are Name, Surname, Street, City, Nb, PostCode
	John Smith comes from Th and has post code 0000000.
Processed 2 lines.

In [28]:
#Pisanie plików CSV #2
with open('csv_file/addresses2.csv', mode='w') as csv_file:
    fieldnames = ['emp_name', 'dept', 'birth_month']
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    writer.writerow({'emp_name': 'John Smith', 'dept': 'Accounting', 'birth_month': 'November'})
    writer.writerow({'emp_name': 'Erica Meyers', 'dept': 'IT', 'birth_month': 'March'})

In [31]:
#Czytanie plików CSV z pomocą PANDAS
df = pd.read_csv('csv_file/freshman_kgs.csv')
df

   Sex   "Weight (Sep)"   "Weight (Apr)"   "BMI (Sep)"   "BMI (Apr)"
0    M               72               59         22.02         18.14
1    M               97               86         19.70         17.44
2    M               74               69         24.09         22.43
3    M               93               88         26.97         25.57
4    F               68               64         21.51         20.10
..  ..              ...              ...           ...           ...
62   M               65               71         22.51         24.45
63   M               75               82         23.69         25.80
64   F               42               49         15.08         17.74
65   M               74               82         22.64         25.33
66   M               94              105         36.57         40.86

[67 rows x 5 columns]

In [42]:
#Pisanie plików CSV z pomocą PANDAS
#Zamiana indexu
df = pd.read_csv('csv_file/freshman_kgs.csv', 
            index_col='"Weight (Sep)"', 
            parse_dates=['"Weight (Sep)"'],
            header=1, 
            names=['Sex',	'"Weight (Sep)"',	'"Weight (Apr)"',	'"BMI (Sep)"',	'"BMI (Apr)"'])
df.to_csv('csv_file/freshman_modified.csv')

print(pd.read_csv('csv_file/freshman_modified.csv'))

    "Weight (Sep)" Sex  "Weight (Apr)"  "BMI (Sep)"  "BMI (Apr)"
0               97   M              86        19.70        17.44
1               74   M              69        24.09        22.43
2               93   M              88        26.97        25.57
3               68   F              64        21.51        20.10
4               59   M              55        18.69        17.40
..             ...  ..             ...          ...          ...
61              65   M              71        22.51        24.45
62              75   M              82        23.69        25.80
63              42   F              49        15.08        17.74
64              74   M              82        22.64        25.33
65              94   M             105        36.57        40.86

[66 rows x 5 columns]