In [27]:
import pandas as pd;

#wczytujemy nasz plik z samochodami i przypisujemy go do 'data'
pd.read_csv("samochody1tys.csv");
data = pd.read_csv("samochody1tys.csv")

In [3]:
#Wyświetlenie 5 wszystkich elementów z tabeli
data.head(5)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie

In [4]:
#Wyświetlenie 5 pojazdów z najwyższym przebiegiem
data.sort_values('przebieg', ascending=False).head(5)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
238,238,Mercedes-Benz,W124 (1984-1993),1991.0,Diesel,1997.0,647000.0,4000.0,Zachodniopomorskie
243,243,Volkswagen,Multivan,1994.0,Diesel,2400.0,503000.0,13900.0,Mazowieckie
971,971,Mercedes-Benz,Klasa E W211,2003.0,Diesel,2685.0,441000.0,16900.0,Lubuskie
989,989,BMW,Seria 5 E39,2002.0,Diesel,2926.0,404000.0,14900.0,Dolnośląskie
82,82,Mercedes-Benz,Klasa E W210,2000.0,Diesel,2148.0,362653.0,8900.0,Lubelskie

In [5]:
#Zmiana nazw kolumn
data.rename(columns={
    'marka':'mark',
    'rok_produkcji': 'prod_year',
    'rodzaj_silnika': 'engine_type',
    'pojemnosc_silnika': 'engine_capacity',
    'przebieg': 'mileage',
    'cena': 'price',
    'wojewordtwo': 'voivodeship'

}).head(5)

,id,mark,model,prod_year,engine_type,engine_capacity,mileage,price,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie

In [6]:
#Usuwanie duplikatów - w tej bazie chyba nie ma powtórzeń
data.drop_duplicates()

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [7]:
#5 losowych pojazdów
data.sample(n=5)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
393,393,Volkswagen,Touareg II,2016.0,Diesel,2967.0,9000.0,297000.0,Pomorskie
718,718,Volkswagen,Tiguan II,2017.0,Benzyna,1968.0,5.0,176600.0,Łódzkie
487,487,Mitsubishi,Colt CJ0,2002.0,Benzyna,1299.0,282000.0,2200.0,Dolnośląskie
341,341,Audi,Q7 I,2006.0,Diesel,3000.0,120158.0,74900.0,Zachodniopomorskie
688,688,Opel,Zafira B,2005.0,Diesel,1900.0,227000.0,14900.0,Śląskie

In [8]:
#Wyświetlenie wszystkich pojazdów z woj. Pomorskiego
wojewodztwo = data[data.wojewodztwo=="Pomorskie"]
wojewodztwo

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
7,7,Seat,Toledo II,2000.0,Benzyna,1800.0,140700.0,8150.0,Pomorskie
8,8,Volkswagen,CC,2014.0,Diesel,1968.0,52000.0,97000.0,Pomorskie
24,24,Volvo,S40 II,2008.0,Diesel,1600.0,232000.0,19999.0,Pomorskie
28,28,Toyota,Avensis III,2009.0,Diesel,2000.0,179000.0,34900.0,Pomorskie
36,36,BMW,X5 F15,2017.0,Diesel,1997.0,1.0,266800.0,Pomorskie
...,...,...,...,...,...,...,...,...,...
921,921,Volkswagen,Tiguan I,2009.0,Diesel,2000.0,136000.0,46900.0,Pomorskie
925,925,Opel,Astra J,2010.0,Benzyna,1600.0,91000.0,30950.0,Pomorskie
933,933,Ford,Mondeo Mk4,2014.0,Diesel,1997.0,126279.0,52900.0,Pomorskie
956,956,Mercedes-Benz,Klasa E W213,2017.0,Diesel,1950.0,13.0,271047.0,Pomorskie
970,970,Toyota,Avensis III,2014.0,Benzyna,1800.0,36680.0,59900.0,Pomorskie

In [9]:
#Wyświetlenie łącznej ceny pojazdów
data.filter(items=['cena']).sum()

cena    51942181.0
dtype: float64

In [20]:
#Wyświetlenie 5 ostanich elementów w tabeli
data.tail(5)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [21]:
#Wyświetlanie 5 najdroższych pojazdów
data.nlargest(5, 'cena')

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
405,405,Mercedes-Benz,SL R231,2016.0,Benzyna,4663.0,2000.0,616000.0,Mazowieckie
586,586,Mercedes-Benz,Klasa G W463,2013.0,Benzyna,5500.0,4900.0,579000.0,Pomorskie
855,855,Land Rover,Range Rover Sport II,2016.0,Benzyna,4999.0,20000.0,529900.0,Mazowieckie
517,517,Audi,RS7,2016.0,Benzyna,3993.0,10000.0,514000.0,Mazowieckie
410,410,BMW,Seria 7 G11/12,2017.0,Hybryda,2000.0,10000.0,469900.0,Mazowieckie

In [33]:
#Usunięcie kolumn rok produkcji oraz id
data.drop(columns = 'rok_produkcji').drop(columns ='id')

,marka,model,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,Nissan,X-Trail III,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,BMW,X1 E84,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,Opel,Zafira A,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,Hyundai,i10 I,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,Volkswagen,CC,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...
995,Alfa Romeo,159,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,Škoda,Fabia II,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,Renault,Modus,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,Audi,A3 8L,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,Volvo,XC 60 I,Diesel,1969.0,13617.0,136900.0,Małopolskie